
<h3>Question:</h3>
<p><%= markdown(@question.title) %></p>
<h3>Description:</h3>
<p>
  <%= markdown(@question.description) %>
</p>

<%= button_to "Edit Question", edit_question_path(@question), method: :get %>
<%= button_to "Delete Question", @question, method: :delete %>

<br>

<h3>Add Answer</h3>

<%= form_for [@question, @answer] do |f| %>
  <div class="row">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit 'Submit Answer' %>
  </div>
<% end %>

<br>

<h4>Answers:</h4>
<% unless @question.answers.nil? %>
  <% if !@best_answer.empty? %>
    <div class="best_answer">
      <li id="answer-callout">Best Answer!</li>
      <li><%= markdown(@best_answer.first.description) %></li>
    </div>

    <div>
      <ul class="answers">
        <% @answers.each do |answer| %>
        <li><%= markdown(answer.description) %></li>
        <% end %> <br />
      </ul>
    </div>
    <br>
  <% else %>

    <div>
      <ul class="answers">
        <% @answers.each do |answer| %>
        <li><%= markdown(answer.description) %><%= button_to 'Best Answer!', answer, method: :patch %></li>
        <% end %> <br />
      </ul>
    </div>
    <br>
    <% end %>
  <% end %>

<%= button_to 'Back', questions_path %>
